/* general */

@import '../config/colors.css';

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.ttf");
    font-weight: 700;
}

* {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-color: var(--background);
    color: var(--text);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    padding: 20px;
}

/* header */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--primary);
}

.desktop-menu {
    display: none;
}

.mobile-btn button {
    background-color: transparent;
    border: none;
}

.mobile-menu {
    display: none;
    margin-top: 10px;
}

.mobile-menu li {
    padding: 10px 0;
}

.mobile-menu li:first-child {
    padding-top: 0;
}

.mobile-menu li:last-child {
    padding-bottom: 0;
}

.mobile-menu a {
    font-weight: 400;
    color: var(--text);
}

.mobile-menu-open {
    display: block;
}

/* main */

.banner {
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 5px;
}

.content {
    padding: 10px;
    background-color: var(--secondary);
    opacity: .9;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.content h1,
.content p {
    background-color: var(--secondary);
    color: var(--background);
}

.content h1 {
    font-size: 1.6rem;
    padding-bottom: 10px;
}

.content p {
    font-size: 1.2rem;
}

.specialties {
    padding: 20px 0 0;
}

.specialties-icon {
    font-size: 75px;
    color: var(--primary);
}

.specialties ul {
    display: flex;
    flex-wrap: wrap;
}

.specialties ul li {
    flex: 1 1 200px;
    text-align: center;
    padding: 20px 10px;
}

.specialties ul li:last-child {
    padding-bottom: 0;
}

.specialties ul li h3 {
    font-weight: 500;
    font-size: 1.4rem;
    margin: 5px 0 20px;
}

.specialties ul li p {
    font-weight: 400;
    line-height: 25px;
    color: var(--secondary);
}

.pricing {
    text-align: center;
    padding: 40px 0 0;
}

.pricing h2,
.pricing p {
    margin: 0 0 20px;
}

.pricing h2 {
    font-weight: 500;
    font-size: 1.5rem;
}

.pricing p {
    font-size: 1.2rem;
}

.plans {
    display: flex;
    flex-wrap: wrap;
}

.plan {
    flex: 1 1 300px;
}

.plan ul {
    padding: 20px 0 0;
}

.plan li {
    height: 35px;
    line-height: 35px;
    font-weight: 400;
    font-size: 1rem;
    color: var(--secondary);
}

.plan .price,
.plan .name,
.plan button,
.contact button {
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--text);
}

.plan .price {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: var(--primary);
    text-align: center;
    line-height: 120px;
    margin-left: auto;
    margin-right: auto;
}

.plan .name {
    padding: 20px 0;
}

.plan button,
.contact button {
    width: 100%;
    padding: 10px 0;
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    opacity: 1;
}

.plan button {
    margin: 20px 0;
}

.plan button i,
.contact button i {
    background-color: transparent;
    color: var(--text);
    padding-right: 10px;
}

.contact {
    text-align: center;
    padding: 20px 0 0;
}

.contact h2 {
    font-weight: 500;
    font-size: 1.5rem;
    margin: 0 0 10px;
}

.contact input,
.contact textarea {
    width: 100%;
    margin: 10px 0 0;
    padding: 10px;
    color: var(--text);
    font-weight: 300;
    font-size: 1rem;
    border: 2px solid var(--secondary);
    border-radius: 5px;
    box-sizing: border-box;
}

.contact ::placeholder {
    color: var(--secondary);
}

.contact input[type=text]:focus,
.contact input[type=email]:focus,
.contact textarea:focus {
    border: 2px solid var(--primary);
    outline: none;
}

.contact textarea {
    height: 100px;
}

.contact button {
    margin: 20px 0 0;
}

/* footer */

footer {
    text-align: center;
}

footer p,
footer span {
    font-weight: 300;
    font-size: 1rem;
    color: var(--secondary);
}

footer p {
    margin: 20px 0 40px;
}

/* responsive */

@media (min-width: 425px) {

    /* main */

    .banner {
        height: 450px;
    }

}

@media (min-width: 768px) {

    /* main */

    .banner {
        height: 500px;
    }

    .specialties ul li {
        flex: 1 1 175px;
        padding: 20px 10px 0;
    }

    .specialties ul li:first-child {
        padding-left: 0;
    }

    .specialties ul li:last-child {
        padding-right: 0;
    }

    .plan {
        flex: 1 1 230px;
        margin: 0 5px;
    }

    .plan:first-child {
        margin-left: 0;
    }

    .plan:last-child {
        margin-right: 0;
    }

}

@media (min-width: 820px) {

    /* general */

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px 0;
    }

    /* header */

    .desktop-menu {
        display: block;
    }

    .desktop-menu ul {
        display: flex;
        gap: 40px;
    }

    .desktop-menu a {
        font-weight: 400;
        color: var(--text);
        transition: .7s;
    }

    .desktop-menu a:hover {
        color: var(--primary);
    }

    .mobile-btn {
        display: none;
    }

    .mobile-menu-open {
        display: none;
    }

    /* main */

    .banner {
        height: 525px;
    }

    .specialties {
        padding: 40px 0 20px;
    }

    .specialties ul {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .specialties ul li {
        flex: 1 1 225px;
        padding: 20px 20px 0;
    }

    .plan {
        max-width: 325px;
    }

    .plan:first-child {
        margin-left: auto;
    }

    .plan:last-child {
        margin-right: auto;
    }

    .plan button,
    .contact button {
        transition: .7s;
        cursor: pointer;
    }

    .plan button:hover,
    .contact button:hover {
        opacity: .7;
    }

    .contact {
        padding: 40px 0 0;
    }

    .contact input,
    .contact button {
        max-width: 400px;
    }

    .contact input:first-child {
        margin-right: 10px;
    }

    .contact textarea {
        max-width: 813px;
        margin-top: 15px;
    }

    /* footer */

    footer p {
        margin: 40px 0 60px;
    }

}